html {
    font-family: SUSE;
  }
  
  body {
    background-color: #20222d;
    color: #c5cdcb;
    text-align: center;
    line-height: 1.7;
    font-size: 1.6rem;
  }
  
  a:visited {
    color: #be95be; 
  }
  
  a:link {
    color: #71a3c1;
  }
  
  h1 {
    font-weight: 500;
  }
  
  h3 {
    font-weight: 400;
  }
  
  p {
    font-size: 1.3rem;
    padding-left: 10%;
    padding-right: 10%
  }
  
  .caption {
    font-size: 1.1rem;
  }
  
  figure {
    margin: 0 auto;
    padding: 15px;
    background-color: #313241;
  }
  
  img {
      max-width: 70%;
      width: 50%;
      display: block;
      height: auto;
      margin: 0 auto;
  }